body {
    width: 100vw;
    height: 100vh;
    background: rgb(38, 70, 83);
    background: linear-gradient(
        163deg,
        rgba(38, 70, 83, 1) 0%,
        rgba(42, 157, 143, 1) 100%
    );
    background-size: cover;
}
